<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href='Css/Interne/base.css'>
        <link type="text/css" rel="stylesheet" href='Css/test.css'>
        <title>
            <%= pageName %>
        </title>
    </head>

    <body id="body">
        <nav class="navigation-bar">
            <div class="nav-start center">
                <a href="/"><h1>RAPIDENODE JS</h1></a>
            </div>
            <div class="nav-center center">
                <h1 class="center">
                    Welcome to the page <%= pageName %>
                </h1>
            </div>
            <div class="nav-end center"></div>
        </nav>

        <div class="main">
            <div class="content">
                <div class="center">
                    <div class="box">
                        <h2>Test zone for form get post</h2>
                    </div>
                </div>
                <div class="content">
                    <div class="center">
                        <div class="div-form-presentation">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-title">
                                        <h2>POST</h2>
                                    </div>
                                    <p class="m-0 p-1">What are you doing ?</p>
                                    <div class="card-center">
                                        <p class="m-0 p-1">
                                            <% if(typeof CR.weirdanswerPost != 'undefined') {%>
                                                <hr>
                                                <%= CR.weirdanswerPost %>
                                            <%};%>
                                        </p>
                                    </div>
                                    <div class="card-end">
                                        <form action="formTest" method="POST">
                                            <input type="hidden" name="openthedoor" value="Close the door ! I'm playing Minecraft !">
                                            <input type="submit" value="Repondre">
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-content">
                                    <div class="card-title">
                                        <h2>GET</h2>
                                    </div>
                                    <p class="m-0 p-1">Hey Father i saw a man flying in the sky today !</p>
                                    <div class="card-center">
                                        <p class="m-0 p-1">
                                            <% if(typeof CR.weirdanswerGet != 'undefined' && typeof CR.weirdanswerGet != 'object') {%>
                                                <hr>
                                                <%=CR.weirdanswerGet %>
                                            <%}%>
                                        </p>
                                    </div>
                                    <div class="card-end">
                                        <form action="formTest" method="GET">
                                            <input type="hidden" name="seetheson" value="That a good story son">
                                            <input type="submit" value="Repondre">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <div class="box">
                        <h2>Test zone for ajax</h2>
                    </div>
                </div>
                <div class="content">
                    <div class="center">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-title">
                                    <h2>Ajax with Javascript</h2>
                                </div>
                                <div class="card-center">
                                    <p id="ajax-content">Hello who are you ?</p>
                                </div>
                                <div class="card-end">
                                    <input type="button" name="ajax-request" value="Modify text" id="ajaxButton">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="Scripts/ajaxFormTest.js"></script>
</html>
