<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href='Css\base.css'>
        <link type="text/css" rel="stylesheet" href='Css\home.css'>
        <title>
            <%= pageName %>
        </title>
    </head>

    <body id="body">
        <nav class="navigation-bar">
            <div class="nav-start center">
                <a href="/"><h1>RAPIDENODE JS</h1></a>
            </div>
            <div class="nav-center center">
                <h1 class="center">
                    Bienvenue sur la page <%= pageName %>
                </h1>
            </div>
            <div class="nav-end center"></div>
        </nav>

        <div class="main">
            <div class="conteneur div-info">
                <div class="content center-column">
                    <h1>
                        Ceci est la page d'accueil par défaut
                    </h1>
                    <p>
                        Cette page est disponible sous les urls [ <strong>/</strong>, <strong>home</strong>, <strong>accueil</strong> ]
                    </p>
                </div>
            </div>
            <hr>
            <div class="conteneur-w">
                <div class="conteneur  center-column">
                    <div class="content">
                        <div class="conteneur">
                            <table>
                                <th>
                                    <h1 class="center">Service</h1>
                                </th>
                                <tr>
                                    <td>
                                        <div class="div-service center td-div">
                                            <h3>Server state : </h3>
                                            <p><% if(typeof CR.serverState != 'undefined') {%>
                                                <%= CR.serverState %><%} else {%>Unknow<% } %> </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="div-service center td-div">
                                            <h3>Connected to the database : </h3>
                                            <p><% if(typeof CR.databaseState != 'undefined') {%> 
                                                <%= CR.databaseState %><%} else {%>Unknow<%}%></p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="conteneur">
                    <div class="content center-column">
                        <h1>Chown the Error page</h1>
                        <a href="test">Aller</a>
                    </div>
                </div>
            </div>

        </div>
    </body>

    <script src="Scripts/home.js"></script>
</html>
