<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href='Css\home.css'>
    <title>
        <%= PageTitle %>
    </title>
</head>

<body>
    <h1>Bienvenue sur la page
        <%= PageTitle %>
    </h1>
    <div class="conteneur">
        <h1>CORPS</h1>
    </div>
</body>

</html>