.navigation-bar{
    display: flex;
    background-color: aquamarine;
    width: 100%;
    height: 10vh;
    margin: 0%;
    padding: 0%;
    padding: 1%;
}

.nav-start
{
    width: 30%;
}
.nav-center
{
    width: 40%;
}

.nav-end
{
    width: 30%;
}
