<!DOCTYPE html>
<html lang='fr'>
<head>
   <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href='Css/Interne/base.css'>
    <title>
        <%= pageName %>
    </title>
</head>
<body id="body">
    <nav class="navigation-bar">
        <div class="nav-start center">
            <a href="/"><h1>RAPIDENODE JS</h1></a>
        </div>
        <div class="nav-center center">
            <h1 class="center">
                Welcome to the page <%= pageName %>
            </h1>
        </div>
        <div class="nav-end center"></div>
    </nav>

    <div class="main">
        <div class="conteneur div-info">
            <div class="content center-column">
                <h1>
                    This page was created by you ! ^^ !
                </h1>
                <p>
                    That page is available on the urls [
                    <% for (var i=0; i < CR.urls.length ;  i++ ) { %>
                        <strong><%= CR.urls[i] %></strong>,
                    <% } %>
                    ]
                </p>
            </div>
        </div>
        <div class="conteneur-w">
            <div class="conteneur  center-column">
                <div class="content">
                </div>
            </div>
        </div>
    </div>
</body>
</html>