<!DOCTYPE html>
<html lang='fr'>
<head>
   <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="Css\base.css">
    <title>
        <%= PageTitle %>
    </title>
</head>
<body>
   <h1>Bienvenue sur la page <%= PageTitle %> </h1>
    <div class='container'>
        <h1>Bienvenue</h1>
    </div>
</body>
</html>