<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../../public/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link href="../../../public/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="../../../public/css/all.css">
        <link rel="stylesheet" href="../../../public/css/tutoriel/index.css">
        <title>Tutoriel</title>
    </head>
    <body class="has-navbar-fixed-top">
        <nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item is-size-4 is-size-6-mobile" href="../../../">
                    RAPIDE NODE JS
                </a>
                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start">
                    <a href="../../documentation/fr/index.html" class="navbar-item is-size-5 is-size-6-mobile">Documentation</a>
                    <a href="./index.html" class="navbar-item is-size-5 is-size-6-mobile">Tutoriel</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Language
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                            French
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="main is-clearfix" id="main">
            <!-- Navigation div -->
            <input type="checkbox" id="label-for-button"/>
            <label for="label-for-button" class="menu-navigation-label">
                <div class="menu is-unselectable" id="menu-navigation">
                    <div class="div-navigation">
                        <aside class="ml-2 mt-2 is-size-6-widescreen is-size-6-fullhd">
                            <p class="menu-label">
                                Tutoriel
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <a href="#title-introduction">Introduction</a>
                                </li>
                                <li>
                                    <a href="#title-control" id="chp-control">Les controleurs</a>
                                    <ul>
                                        <a href="#title-form" id="chp-form">Les formulaires</a>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#title-class" id="chp-classmod">Les Classes & Model</a>
                                    <ul></ul>
                                </li>
                                <li>
                                    <a href="#title-views" id="chp-views">Les Vues</a>
                                    <ul>
                                        <a href="#title-title-static" id="chp-medias">Utiliser les medias static</a>
                                    </ul>
                                </li>
                                <li><a href="#title-bdd" id="chp-bdd">La base de donnée</a></li>
                            </ul>
                            </aside>
                    </div>
                    <div class="div-button-navigation is-hidden-desktop" id="test">
                        <div class="button-navigation"></div>
                    </div>
                </div>
            </label>

            <section>
                <div class="is-flex" id="divNavigation">
                    <!-- div informations -->
                    <div class="is-size-4-touch is-size-2-touch">
                        <div class="container-1 center">
                            <div class="container-2">
                                <section class="section is-size-5 is-size-5-mobile">
                                    <div class="anchor" id="title-introduction"></div>
                                    <p class="navbar-item title is-size-2 is-size-3-mobile center has-text-weight-medium">
                                        Introduction
                                    </p>
                                    <p>
                                        Nous verrons ici comment utiliser RapideNodeJS pour créer vos projets, vous trouverez pour chaque parties des explications avec des exemples de code pour faciliter vôtre compréhension.
                                        <br>N’hésitez pas à tester les exemples en même temps que vous les lisez !
                                    </p>
                                    <hr>
                                    <div class="columns" id="doc-div">
                                        <div class="column">
                                            <div class="content">
                                                <div class="anchor" id="title-control"></div>
                                                <h1>Les Controleurs</h1>
                                                <div class="content">
                                                    <p>
                                                        Dans l’architecture MVC les contrôleurs sont la partie communicante avec le serveur. <br>
                                                        Ils sont assez simples à utiliser car il ne nécessite l’utilisation que d’une simple fonction dans laquelle l'entièreté de vôtre code sera écrit. 
                                                        Par défaut vous devrez retourner un objet avec tous les éléments que vous voulez afficher dans vôtre vue.
                                                    </p>
                                                </div>
                                                <div class="anchor" id="title-form"></div>
                                                <h2>Les formulaires</h2>
                                                <div class="content">
                                                    <p>
                                                        Maintenant que nous avons vu comment utiliser les contrôleurs, voyons comment on peut utiliser des données envoyées par la vue.
                                                        Il existe deux types de méthodes, GET et POST dont les données sont récupérables par la variable `data`. 
                                                    </p>
                                                    <div class="codepen-div">
                                                        <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="js" data-slug-hash="zxxNxPY" data-pen-title="Tutoriel Controleur 1" data-user="Nathan-Al-the-builder" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                                                            <span>See the Pen <a href="https://codepen.io/Nathan-Al-the-builder/pen/zxxNxPY">
                                                            Tutoriel Controleur</a> by Nathan-Al (<a href="https://codepen.io/Nathan-Al-the-builder">@Nathan-Al-the-builder</a>)
                                                            on <a href="https://codepen.io">CodePen</a>.</span>
                                                          </p>
                                                          <script async src="https://public.codepenassets.com/embed/index.js"></script>
                                                    </div>
                                                </div>
                                                <div class="anchor" id="title-class"></div>
                                                <h1>Les Classes & Model</h1>
                                                <div class="anchor" id="title-views"></div>
                                                <h1>Les Vues</h1>
                                                <div class="anchor" id="title-static"></div>
                                                <h2>Utiliser les medias static</h2>
                                                <div class="anchor" id="title-bdd"></div>
                                                <h1>La base de données</h1>
                                                <p>
                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="section">
                        <div class="columns">
                            <div class="column"></div>
                            <div class="colunm">
                                <div class="content">
                                    <i class="fa fa-copyright" aria-hidden="true">Copyright 2021</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </body>
    <script src="../../../scripts/bulma.js"></script>
    <script type="module" src="../../../scripts/tutoriel.js"></script>
</html>