.container-1
{
    min-height: 50%;
    margin-top: 2%;
    background-color: rgb(27, 27, 27);
}

.container-2
{
    height: auto;
    background-color: rgb(226, 226, 226);
}

.menu-option {
    position: fixed;
    border-left: 1px solid white;
    margin-top: 3%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 94vh;
    width: 16vw;
}
.menu-option::-webkit-scrollbar {
    width: 12px;
}

.menu-option::-webkit-scrollbar-track {
    background-color: rgb(0 0 255 / 0%);
}

.menu-option::-webkit-scrollbar-thumb {
    background-color: #2b409c;
}

.code-preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.code-preview blockquote {
    height: 100%;
}
