body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    background-color: rgb(184, 184, 184);
}

hr {
    background-color: black;
    color: black;
    width: 100%;
    height: 1px;
    display: flex;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    border-width: 0;
}

h1
{
    margin: 0;
    padding: 0;
}

h2
{
    margin: 0;
    padding: 0;
}

h3
{
    margin: 0;
    padding: 0;
}

h4
{
    margin: 0;
    padding: 0;
}

.main {
    height: 90vh
}


.navigation-bar {
    display: flex;
    background-color: #f3c500;
    width: 100%;
    height: 10vh;
    margin: 0%;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.nav-start {
    width: 30%;
    padding: 1%;
    display: flex;
    justify-content: start;
}
.nav-center {
    width: 40%;
    padding: 1%;
}

.nav-end {
    width: 30%;
    padding: 1%;
    display: flex;
    justify-content: end;
}

.div-info {
    height: 20vh;
}

.msg-conteneur {
    background-color: white;
    min-height: 70vh;
}

.div-error-title {
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.div-error-title h1 {
    color: rgb(168, 0, 0);
}

.div-server-msg {
    height: 69vh;
    background-color: rgb(241 241 241);
}

.title-server-msg {
    color: black;
    background: cornsilk;
    border-bottom: 1px solid #00000026;
    height: 10%;
    display: flex;
    justify-self: center;
    justify-items: center;
    align-items: center;
}

.title-server-msg h2 {
    padding: 1%;
}

.server-msg {
    overflow-y: scroll;
    display: flex;
    height: 90%;
}

.server-msg .conteneur-f-w p {
    padding-left: 1%;
}

.conteneur-f-w div {
    background-color: white;
    margin: 1%;
}